body {
    font-family: sans-serif;
}

svg {
  display: block;
}

#container {
	width:1200px; 
}

#header {
	background-color:#BABABA;
	width:1200px;
	float:left;
}

#divCtrl {
	background-color:#BABABA;
    font-size:small;
	height:80px;
	width:1200px;
	float:left;
}

#divPhylo {
    padding: 10px;
	background-color:#BABABA;
	height:480px;
	width:330px;
	float:left;
}

#divGeo {
	background-color:#FFFFFF;
	height:500px;
	width:850px;
	float:left;
}

#divPlay {
	background-color:#BABABA;
	height:100px;
	width:350px;
	float:left;
	text-align:center;
}

#divSlider {
	margin: 0px 10px;
	background-color:#BABABA;
	width:330px;
	text-align:center;
}

.player {

}


#divFilter {
	background-color:#BABABA;
	height:100px;
	width:850px;
	float:left;
}

#toolbar {
	padding: 15px 4px;
}

#textInputHttp {
    width:250px;
}

#textareaInput {
    height:480px;
    width:330px;
    resize:none;
}

.ui-slider .ui-slider-handle { buffer: 10px }
