body {
    font-family: sans-serif;
}

svg {
  display: block;
}

#container {
	width:1200px; 
}

#header {
	background-color:#BABABA;
	width:1200px;
	float:left;
}

#divCtrl {
	background-color:#BABABA;
    font-size:small;
	height:80px;
	width:1200px;
	float:left;
}

#divPhylo {
	background-color:#FFFFFF;
	height:500px;
	width:350px;
	float:left;
}

#divGeo {
	background-color:#FFFFFF;
	height:500px;
	width:850px;
	float:left;
}

#divPlay {
	background-color:#BABABA;
	height:100px;
	width:350px;
	float:left;
	text-align:center;
}

#divSlider > div.player {
	padding: 10px !important;
	background-color:#BABABA;
	width:350px;
	float:left;
}

#divFilter {
	background-color:#BABABA;
	height:100px;
	width:850px;
	float:left;
}

#toolbar {
	padding: 15px 4px;
}

#textInputHttp {
    width:250px;
}
