body {
	background-color:#717679;
    font-family: sans-serif;
	min-width:100%;
	max-width:100%;	
	margin-left: auto; 
	margin-right: auto;     
}

svg {
	display: block;
}

text {
    font-family: Helvetica; Arial; sans-serif;
    font-size: 12;
}

#container {
	margin-left: auto; 
	margin-right: auto;
	width:1200px; 
	position: relative;
}

#header {
	position: absolute;
	background-color:#717679;
	top:5px;
	width:1200px;
    height:80px;
	float:left;
}

#divCtrlTop {
	position: absolute;
	top:10px;
	left:320px;
    font-size:small;
	height:20px;
	width:900px;
	float:left;
}

#divCtrlBottom {
	position: absolute;
	top:35px;
	left:320px;
    font-size:small;
	height:20px;
	width:900px;
	float:left;
}

#divPhylo {
	position: absolute;
	top:100px;
	left:0px;
    padding: 10px;
	background-color:#818689;
	height:480px;
	width:330px;
	float:left;
}

#divTimeTicks {
    position: absolute;
    top:70px;
    left:1100px;
    background-color:#717679;
    height:30px;
	width:100px;
    float:left;
}

#divDescription {
    position: absolute;
    top:70px;
    left:0px;
	background-color:#717679;
    height:30px;
	width:1100px;
    float:left;
    font-family: Helvetica; Arial; sans-serif;
    font-size: 14;    
}


#divGeo {
	position: absolute;
	top:100px;
	left:350px;
	background-color:#818689;
	height:500px;
	width:850px;
	float:left;
}

#divPlay {
	position: absolute;
	top:590px;
	left:0px;
	background-color:#818689;
	height:100px;
	width:350px;
	float:left;
	text-align:center;
}

#divSlider {
	margin: 0px 10px;
	background-color:#818689;
	width:330px;
	text-align:center;
}

.player {

}


#divFilter {
	position:absolute;
	top:590px;
	left:350px;
	background-color:#818689;
	height:100px;
	width:850px;
	float:left;
}

#toolbar {
	padding: 15px 4px;
}

#textInputHttp {
    width:250px;
}

#textareaInput {
    height:480px;
    width:330px;
    resize:none;
}

#textareaInfo {
    margin: 5px 5px 5px 5px;
    height: 80px;
    width: 830px;
    resize:none;
}

#checkboxLabel {
    color:white;
    font-family: Helvetica; Arial; sans-serif;
    font-size: 12;
}
#manualLink {
    color:white;
    font-family: Helvetica; Arial; sans-serif;
    font-size: 12;
    float:right;
}

#buttonApply { float:left; }
#buttonReset { float:left; }
#buttonHelp { float:left; }

#phyloSlider {
	stroke: white;
	stroke-width: 2;
	stroke-dasharray: 2; 10;
	stroke-opacity: 1;
}

.ui-slider .ui-slider-handle { buffer: 10px }
